<div class="container-fluid">
    <div class="d-flex justify-content-between mb-1">
        <div>
            <button style="margin-bottom: 5px" (click)="clearFilter()" class="btn">
                <span class="me-2">Refrescar</span> <i class="mdi mdi-filter-remove"></i>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-success btn-sm text-uppercase me-2" data-bs-toggle="modal"
                (click)="showModalCreate()">
                Agregar Cliente
            </button>

            <button (click)="refresh()" class="btn btn-success btn-sm">
                <i class="mdi mdi-reload"></i>
            </button>
        </div>
    </div>

    <ag-grid-angular style="width: 100%; height: 70vh;" class="mb-5" [class]="themeClass" [rowData]="RowData()"
        [defaultColDef]="defaultColDef" [columnDefs]="colDefs" [animateRows]="true" [pagination]="true"
        [context]="context">
    </ag-grid-angular>


    <ng-template #ModalCreate role="document" class="" let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modalRef?.hide()"></button>
        </div>
        <div class="modal-body">
            <app-form-cliente (confirmSave)="confirmSave($event)" (closeModal)="closeModal()"
                [Project]="Project"></app-form-cliente>
        </div>
    </ng-template>
</div>